<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="First Name" v-model="firstName" />
      <input type="text" placeholder="Last Name" v-model="lastName" />
      <!-- <div>Full Name : <span v-html="fullName"></span></div> -->
      <div v-html="`Full Name : ${fullName}`"></div>
    </div>
    <script>
      new Vue({
        el: "#app",
        // data의 함수 형태로 가도록 한다.
        data() {
          return {
            firstName: "",
            lastName: "",
            keyword: "", // 현재 사용자가 입력하고 있는 검색어
          };
        },
        // 변수가 있는 것처럼 보이게 만드는것 변수에 저장한게 아니라 저장된 내용을 기반으로 계산하는 것이 fullName
        computed: {
          // 수동적인 데이터임. 어떤 data가 변경되면 그걸 재료로 자동 계산되어지는 형태일때 씀.
          // 함수 처럼 생겼지만 가져다 쓸때는 data 변수인 것 처럼 쓰는 특징! -> getter의 느낌
          fullName() {
            return "<h2>" + this.firstName + this.lastName + "</h2>";
          },
          // (예시)
          // 예를 들면 아래 처럼 검색 data의 keyword가 변경되면 화면에 뿌릴 글 데이터를 새로 얻어오면 됨.
          // 어딘가에 저장해놓고 추후 가공해서 쓰려면 data에 만들어놔야함.
          // 그게 아니면 그냥 이렇게 computed에서 계산된 데이터를 바로바로 쓰면됨.
          // return 필수.
          // 명시적으로 호출하지 않음. 그냥 boards라는 변수 있는 것처럼 가져다 화면에 뿌리는데 씀.
          async boards() {
            let resp = await fetch("/board/list?keyword=" + this.keyword);
            let data = await resp.json();
            return data;
          },
        },
        watch: {
          // data에 있는 애를 지켜보는 것
          lastName() {
            console.log("호적 파였대요!!!!");
          },
          // (예시)
          // data에 있는 항목을 능동적으로 겁나 지켜봄.
          // 해당 data가 변경되었을때 하고자 하는 행동을 적으면 됨.
          // return 자유
          // 명시적으로 호출하지 않음. keyword값이 변경될 떄마다 자동으로 호출됨.
          // ssafy라고 입력하면 5번 호출되는 거임.
          keyword() {
            // data가 있는게 아니라 자동으로 변경됐을때 행동하고 싶을떄 watch
            console.log("검색어는 두글자 이상 입력하셔야 합니다... 어쩌구");
          },
        },
      });
    </script>
  </body>
</html>
